<!-- navbar.html -->
<header class="navbar">
  <div class="nav-container">
    <!-- Componentes Navbar --
     Logo -->
    <a href="\src\pages\Home.html" class="logo">
      <img src="\src\img\logo.jpg" alt="Logo da MathTrack" />
      
    </a>

    <!-- Menu Principal -->
    <nav class="nav-menu" aria-label="Navegação principal">
      <ul>
        <li><a href="../pages/formulario.html">Fazer o teste</a></li>
        <li><a href="../pages/trilha-de-aprendizado.html">Trilha de Aprendizado</a></li>
        <li><a href="../pages/modulos.html">Conteúdos</a></li>
        <li><a href="../pages/Forum.html">Comunidade</a></li>
        <li><a href="../pages/sobreoprojeto.html">O Projeto</a></li>
        </li>
      </ul>
    </nav>

    <!-- Ações --
     Login e cadastro -->
    <div class="actions">
      <a href="\src\pages\login.html" class="login-link">Entrar</a>
      <a href="../pages/criar-conta.html" class="btn-primary">Cadastre-se</a>
    </div>
  </div>
</header>
